<h1 class="page_head">Sign In</h1>

<form class="form" action="/user/signin" method="POST">
  <input type="text" placeholder="Email" name="email">
  <input type="password" placeholder="Password" name="password">
  <input type="submit" value="Sign In" class="button">
</form>

<br>
