<h1 class="page_head"><%= @age.name %></h1>
<p>Description: </p>

<% if !current_user? %>
  <div class="bottom_rung_button">
    <a href="/user/signup" class="sign_up_button"><button>Sign Up!</button></a>
  </div>
<% end %>
