<h1 class="page_head">Home</h1>
<h3>Ages of Early Islam:</h3>
<ul>
  <% @ages.each do |age| %>  
  <li> <%= link_to age.name, age_path(age.id)%></li>
  <% end %>
</ul>


<!-- 
<% if !current_user? %>
  <div class="bottom_rung_button">
    <a href="/user/signup" class="sign_up_button"><button>Sign Up!</button></a>
  </div>
<% end %>
 -->